<span *ngIf="currentTheme === 'dark'; else showDefault">
    <div class="flex justify-center items-center pt-16 bg-gray-800">
        <div *ngIf="antiquity" class="bg-gray-700 text-gray-200 p-8 rounded-lg shadow-lg max-w-3xl w-full">
            <h2 class="text-3xl font-bold text-center mb-6">{{ antiquity.titleAntiquity }}</h2>

            <div class="mb-6">
                <img *ngIf="antiquity.photos && antiquity.photos.length > 0" [src]="antiquity.photos[0]"
                    [alt]="antiquity.titleAntiquity" class="w-full h-auto max-h-64 object-contain rounded-md mb-4">

                <ng-template #placeholder>
                    <div class="w-full h-64 bg-gray-500 rounded-md mb-4 flex items-center justify-center">
                        <span class="text-gray-300">No Image Available</span>
                    </div>
                </ng-template>
            </div>

            <p class="text-gray-400 text-lg mb-4">{{ antiquity.descriptionAntiquity }}</p>

            <p class="text-yellow-400 font-bold text-lg mb-4">Price: {{ antiquity.priceAntiquity | number: '1.2-2'}}€</p>

            <div class="flex justify-between">
                <button class="bg-yellow-500 text-gray-900 px-6 py-3 rounded-md hover:bg-yellow-600" (click)="goBack()">Go Back</button>
                <button class="bg-green-500 text-gray-900 px-6 py-3 rounded-md hover:bg-green-600" (click)="buyAntiquity()">Buy</button>
            </div>
        </div>
    </div>
</span>

<ng-template #showDefault>
    <div class="flex justify-center items-center min-h-screen bg-gray-100 pt-16">
        <div *ngIf="antiquity" class="bg-white text-gray-800 p-8 rounded-lg shadow-lg max-w-3xl w-full">
            <h2 class="text-3xl font-bold text-center mb-6">{{ antiquity.titleAntiquity }}</h2>

            <div class="mb-6">
                <img *ngIf="antiquity.photos && antiquity.photos.length > 0" [src]="antiquity.photos[0]"
                    [alt]="antiquity.titleAntiquity" class="w-full h-auto max-h-64 object-contain rounded-md mb-4">

                <ng-template #placeholder>
                    <div class="w-full h-64 bg-gray-500 rounded-md mb-4 flex items-center justify-center">
                        <span class="text-gray-300">No Image Available</span>
                    </div>
                </ng-template>
            </div>

            <p class="text-gray-600 text-lg mb-4">{{ antiquity.descriptionAntiquity }}</p>

            <p class="text-yellow-400 font-bold text-lg mb-4">Price: {{ antiquity.priceAntiquity | number: '1.2-2'}}€</p>

            <div class="flex justify-between">
                <button class="bg-yellow-500 text-gray-900 px-6 py-3 rounded-md hover:bg-yellow-600" (click)="goBack()">Go Back</button>
                <button class="bg-green-500 text-gray-900 px-6 py-3 rounded-md hover:bg-green-600" (click)="buyAntiquity()">Buy</button>
            </div>
        </div>
    </div>
</ng-template>